@font-face{
    font-family: SotoBurgerNav;
    src: url('../font/FjallaOne-Regular.ttf');
}
@font-face {
    font-family: Sotoburger;
    src: url(../font/PTSans-Regular.ttf);
}

.titulo{
    font-weight: bold;   
}
.textoBarr{
    font-size: large;
    font-weight: bold; 
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    max-height: 100%;
}

.carousel-inner{
 height: auto;
 width: 100%;
}

.row{

    padding: 10px;
}

.col-4{
    margin: 100px;
}

.footer{
    background-color: rgb 248, 249, 250;
}

img {
    display: block;
    margin: auto;

}

label.error{
    color: red;
}

input.error   {
    border: 1px solid red;
}

select.error   {
    border: 1px solid red;
}

textarea.error   {
    border: 1px solid red;
}

.div-img{
    display: flex;
    justify-content: center;
}
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto_encima{
    position:absolute;
    top: 100%;
    right: 65%;
    font-size:  70px;
    color : white;

}


.color1 { color: #f1ecdf };
.color2 { color:#d4c9ad };
.color3 { color: #c7ba99 };
.color4 { color: #000000 };
.color5 { color: #e4844a };

:root {
    --bs-body-bg: #f1ecdf;
    
}



nav{
    
    background-color: rgb(245, 172, 61);
    font-family: SotoBurgerNav;
    font-weight: bold;
    font-size: large;  
   
}

body{   
    background-color: #f1ecdf;
    font-family: SotoBurger;
}

footer{
    Background-color:#d4c9ad;

}

#divmap{
    height: 400px; 
    width: 1180px;
    margin: auto;
    border-radius: 02%;
    
}


  
/* Fondo modal: negro con opacidad al 50% */
.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
  }
  
  /* Ventana o caja modal */
  .contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
  }
  
  /* Animación */
  
    
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Botón cerrar */
  .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }






  
